/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fullsize {
    width: 100%;
    height: 100%;
  }
  
  .automargin {
    margin: auto auto;
  }

  .blue{
      color: blue
  }

  .rightText{
      float: right
  }

  .alertbox {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #721c24;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
  }

  .successbox {
    color: #2a921e;
    background-color: #d7f8e6;
    border-color: #721c24;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

  .navMarginTop {
    padding: 80px;
}

.notification_box {
  position: fixed;
    top: 60px;
    right: 80px;
    z-index: 1;
}