<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" style="color: white">IMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/product']">Product</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/sale']">Sale <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/employee']">Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/supplier']">Supplier</a>
      </li>
    </ul>
  </div>
</nav>

<div class="navMarginTop">
  <div 
  *ngFor ="let p of products$  | async"
  class="card" style="width: 15rem;">
  
  <img src="./image/pro.png" class="card-img-top" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{p.title}}</h5>
    <p class="card-text">{{p.price | currency :'USD':true}}</p>
    <a href="#" class="btn btn-primary">Add To Sale</a>
  </div>
 
</div>




