<div class="navMarginTop">
  <h2>Edit Product</h2>
  <form [formGroup]="editProduct" (ngSubmit)="editProducts()">

    <div class="form-group">
      <label for="name"><strong>Name:</strong></label>
      <input id="name" type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
      <label for="brand"><strong>Brand:</strong></label>
      <input id="brand" type="text" class="form-control" formControlName="brand">
    </div>
    <div class="form-group">
      <label for="description"><strong>Description:</strong></label>
      <input id="description" type="text" class="form-control" formControlName="description">
    </div>
    <div class="form-group">
      <label for="quantity"><strong>Quantity:</strong></label>
      <input id="quantity" type="number" class="form-control" formControlName="quantity">
    </div>
    <div class="form-group">
      <label for="price"><strong>Price:</strong></label>
      <div class="iput-group">
        <span class="input-group-addon">$</span>
        <input id="price" type="number" class="form-control" formControlName="price">
      </div>
    </div>
    <div class="form-group">
      <label for="category"><strong>Categories:</strong></label>
      <select id="category" class="form-control" formControlName="category">
        <option *ngFor="let cat of categories$ | async" [value]="cat.name">
          {{cat.name}}
        </option>

      </select>
    </div>

    <div class="form-group">
      <label for="supplier"><strong>Supplier:</strong></label>
      <select id="supplier" class="form-control" formControlName="supplier">
        <option *ngFor="let sup of suppliers" [value]="sup.name">
          {{sup.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="username"><strong>User:</strong></label>
      <input id="username" type="text" class="form-control" formControlName="username">
    </div>
    <div id="btn">
      <input id="edit" type="submit" class="forsubmit btn btn-primary" value="Edit">
    </div>
  </form>
</div>