<app-navigation></app-navigation>

<div class="navMarginTop">
  <div class="row">

    <div class="col-md-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        Supplier
      </h4>
      <div class="card p-2" style="margin-bottom: 15px;">
        <div class="input-group">
          <input type="text" class="form-control" [ngModel]=supplierName placeholder="Name" (keyup)="onKey($event)">
        </div>
      </div>
      <ul class="list-group mb-3">
        <li *ngFor="let supplier of suppliers" class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{supplier.name}}</h6>
            <small class="text-muted">Category: {{supplier.type}}</small>
          </div>
          <span class="text-muted">
            <i class="material-icons"
              style="vertical-align: middle; margin-right: 5px; color: #0069d9;  cursor: pointer"
              (click)="onSupplierSelected(supplier)">
              create
            </i>
            <i class="material-icons"
              style="vertical-align: middle; margin-right: 10px; color: #d42f2f; cursor: pointer"
              (click)="deleteSupplier(supplier)">
              delete_sweep
            </i>
          </span>
        </li>
      </ul>
    </div>

    <div class="col-md-8">
      <div class="">
        <h4 class="mb-3">Supplier Information</h4>
        <button class="btn btn-primary" style="float: right; position: relative;top: -10px;"
          (click)="onResetForm()">Reset</button>
      </div>
      <form [formGroup]="supplierForm" (ngSubmit)="onSaveSupplier()">

        <div class="mb-3">
          <label for="address">Supplier</label>
          <input type="text" class="form-control" id="name" placeholder="Supplier 1" formControlName="name" required>
          <div
            *ngIf="supplierForm.controls.name.invalid && (supplierForm.controls.name.dirty || supplierForm.controls.name.touched)"
            class="text-danger">
            Please enter your supplier name
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com" formControlName="email"
            required>
          <div
            *ngIf="supplierForm.controls.email.invalid && (supplierForm.controls.email.dirty || supplierForm.controls.email.touched)"
            class="text-danger">
            Please enter a valid email address
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Phone</label>
          <input type="text" class="form-control" id="phone" placeholder="123 456 7890" formControlName="phone">
          <div
            *ngIf="supplierForm.controls.phone.invalid && (supplierForm.controls.phone.dirty || supplierForm.controls.phone.touched)"
            class="text-danger">
            Please enter your phone
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Type</label>
          <input type="text" class="form-control" id="type" placeholder="Food" formControlName="type">
          <div
            *ngIf="supplierForm.controls.type.invalid && (supplierForm.controls.type.dirty || supplierForm.controls.type.touched)"
            class="text-danger">
            Please enter supplier type
          </div>
        </div>

        <div class="mb-3">
          <label for="address2">Address <span class="text-muted">(Optional)</span></label>
          <input type="text" class="form-control" id="type" placeholder="1000 N 4th St." formControlName="address">
        </div>

        <input hidden [formControl]="supplierForm.get('_id')">

        <hr class="mb-4">

        <p *ngFor="let alert of alerts" class="notification_box">
          <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
        </p>

        <button *ngIf="!isSupplierNew" class="btn btn-primary btn-lg btn-block" type="submit"
          [disabled]="!supplierForm.valid">Update</button>
        <button *ngIf="isSupplierNew" class="btn btn-primary btn-lg btn-block" type="submit"
          [disabled]="!supplierForm.valid">Save</button>
      </form>
    </div>

  </div>
</div>