<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" style="color: white">IMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/product']">Product<span class="sr-only">(current)</span> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sale']">Sale</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/employee']">Employee</a> 
      </li>
    </ul>
  </div>
</nav>

<div class="navMarginTop">
<a routerLink="/product/new" class="btn btn-primary">New Product</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Brand</th>
    <th scope="col">Descr</th>
    <th scope="col">Quantity</th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let product of products; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ product.name}}</td>
    <td>{{ product.brand }}</td>
    <td>{{ product.description}}</td>   
    <td>{{ product.quantity}}</td>
   
    

  </tr>
  
  </tbody>
</table>
</div>